{% extends "_admin_template.html.twig" %}

{% block title %}
    Supprimer l'utilisateur{{ user.pseudo }}
{% endblock %}

{% block content %}
    <div class="section">
        <h1 class="title">Supprimer l'utilisateur"{{ user.pseudo }}"</h1>

        {{ form_start(deletionForm) }}

        {{ form_row(deletionForm.confirmation, {
            label: 'Je confirme la suppression de l\'utilisateur "' ~ user.pseudo ~ '"'
        }) }}

        <button type="submit" class="button is-danger is-fullwidth">
            Supprimer
        </button>

        {{ form_end(deletionForm)}}

    </div>
{% endblock %}