{% extends '_admin_template.html.twig' %}

{% block title %}Modifier l'utilisateur{% endblock %}

{% block content %}
    <div class="section">
        <h1 class="title">Profil utilisateur : {{ user.prenom }}</h1>
        {% include 'includes/flashes.html.twig' %}
        {{ form_start(userForm) }}
            {{ form_row(userForm.email, {
                label : "Adresse email"
            }) }}
            {{ form_row(userForm.pseudo, {
                label : "Pseudo"
            }) }}
            {{ form_row(userForm.nom, {
                label : "Nom"
            }) }}
            {{ form_row(userForm.prenom, {
                label : "Prenom"
            }) }}
            {{ form_row(userForm.telephone, {
                label : "Telephone"
            }) }}
            <button type="submit" class="button is-primary is-fullwidth">Enregistrer</button>
        {{ form_end(userForm) }}
    </div>
{% endblock %}